:root{
    font-family: system-ui;
    --color-accent: skyblue;
    --color-bg: color-mix(in lch, contrast-color(var(--color-accent)), var(--color-accent) 20%);
    --color-text: contrast-color(var(--color-bg));
    --color-btn: color-mix(in srgb, var(--color-bg), var(--color-accent) 40%);
}
body{
    min-height: 100svh;
    display: grid;
    grid-template-rows: 1fr auto;
}
#app{
    display: grid;
    grid-template-columns: clamp(20ch, 20vw, 30ch) 1fr;
    @media only screen and (max-width: 600px){
     grid-template-columns: 1fr; 
     grid-template-rows: auto 1fr;  
    }
}
#app>aside{
    background-color: var(--color-btn);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}
main{
    color: var(--color-text);
    padding: min(3vw, 2rem);
    background-color: var(--color-bg);
}
#project-title{
    margin-bottom: 1em;
}
#task-list{
    display: grid;
    width: min(64ch, 100%);
    gap: 1em;
    margin-bottom: 1em;
}
.task-item{
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: min(1em, 2vw);
    align-items: start;

}
#project-title{
    color: var(--color-accent)
}
.task-item>input{
    width: 1.25rem;
    margin-top: 3px;
    aspect-ratio: 1 /1;
}
.task-due::before{
    content:"Due "
}
#project-list{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    & span{
        display: flex;
        justify-content: space-between;
        cursor: default;
        & button{
            opacity: 0;
            background: WHITE;
            cursor: pointer;
            aspect-ratio: 1 / 1;
            border-radius: 100vw;
            outline: transparent;
            border: transparent;
            font-weight: normal;
            transition: opacity 300ms;
        }
    }
}

#project-list>span:hover button{
    opacity: 1;
}
.active{
    font-weight: bold;
}
.btn-delete-task{
    display: inline;
    opacity: 0;
    background-color: transparent;
    font-weight: bold;
    border: transparent;
    color: red;
    transition: opacity 300ms;
}
.task-item:hover .btn-delete-task{
    opacity: 100%;
    cursor: pointer;
}

.task-item>div{
    display: grid;
    grid-template-columns: 1fr auto;
    @media only screen and (max-width: 600px){
        grid-template-columns: 1fr;
        & .task-desc{
            grid-column: span 1;
        }
    }
}
.task-title{
    font-size: 1.125rem;
}
.task-desc{
    color: color-mix(in srgb, var(--color-text) 80%, gray);
    grid-column: span 2;
}
#task-modal{
    position: absolute;
    
    height: 100svh;
    width: 100svw;
    backdrop-filter: blur(2px) brightness(0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#task-form{
    display: grid;
    gap: 0.75em;
    background-color: var(--color-btn);
    padding: 1em;
    border-radius: 1em;
    & input, select, textarea{
        border-radius: 4px;
        padding: 8px;
        background-color: color-mix(var(--color-btn), var(--color-accent) 30%);
        border: transparent;
        color: contrast-color(var(--color-bg));
        &&:focus{
            outline: dotted 2px var(--color-accent);
        }
    }
}

#task-modal.hidden{
    display: none;
}
input:checked{
    accent-color: var(--color-accent);
}
#btn-add-task, #btn-add-project, #task-form>button{
    margin-top: 1rem;
    border: none;
    background-color: var(--color-btn);
    color: contrast-color(var(--color-btn));
    border-radius: 100vw;
    padding: 0.25em 0.75em;
    font-weight: bold;
    transition: background-color 300ms, color 300ms;
    &&:hover{
        background-color: var(--color-accent);
        color: contrast-color(var(--color-accent));
    }
}